$main-color:#000;
$block-color:#18191A;
$black:#1F1F1F;
$white: rgb(247, 247, 247);
$yellow:#E2B024;
$border-color:rgba(255, 255, 255, 0.6);
$main-font: 'Poppins', sans-serif;
$title-font:'ChocolateBox';