<div class="wrap">
  <div class="title">Reactive form</div>
  <form class="form" [formGroup]="form">
    <div class="form-block">
      <label for="name">Username</label>
      <input
        class="form-input"
        type="text"
        id="name"
        placeholder="The username should be 6 to 15 characters long"
        formControlName="userName">
      <!-- error messages -->
      <span
        class="error-message"
        *ngIf="form.controls['userName'].value
        &&!form.controls['userName'].valid
        &&(form.controls['userName'].dirty
        || form.controls['userName'].touched)">
          Please enter a valid name!
      </span>
      <span
        class="error-message"
        *ngIf="(form.controls['userName'].dirty
        ||form.controls['userName'].touched)
        &&form.controls['userName'].hasError('required')">
          Username is required!
      </span>
    </div>
    <div class="form-block">
      <label for="password">Password</label>
      <input
        class="form-input"
        type="password"
        id="password"
        placeholder="The password should contain at least a number and a letter"
        formControlName="password">
      <!-- error messages -->
      <span
        class="error-message"
        *ngIf="form.controls['password'].value
        &&!form.controls['password'].valid
        &&(form.controls['password'].dirty
        ||form.controls['password'].touched)">
          Please enter a valid password!
     </span>
     <span
       class="error-message"
       *ngIf="(form.controls['password'].dirty
       ||form.controls['password'].touched)
       &&form.controls['password'].hasError('required')">
         Password is required!
     </span>
    </div>
    <!-- the ability to add / remove email -->
    <div class="form-block">
      <div formArrayName="emails">
        <div
          class="form-block_emails"
          *ngFor="let control of emailsFormArray.controls; let i = index">
          <input
            class="form-input"
            type="email"
            [placeholder]="'example@gmail.com ' + (i + 1)"
            [formControlName]="i">
          <button (click)="removeControl(i)">X</button>
        </div>
        </div>
        <span
          class="error-message"
          *ngIf="!form.controls['emails'].valid">
            Please enter a valid email!
          </span>
      <button class="button" (click)="addControl()">Add email</button>
    </div>
    <button class="button" type="submit">Submit</button>
  </form>
</div>

